/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffb1b1;
}

header {
    background-color: #ffcbcb;
    color: #1679ab;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #1679ab;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #ffcbcb;
    color: #1679ab;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    background-color: #ffb1b1;
    border: 1px solid #ffcbcb;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-item p {
    font-size: 0.9em;
    color: #555;
}

.product-item button {
    background-color: #ffcbcb;
    color: #002379;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-item button:hover {
    background-color: #ffb1b1;
}